
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    position: relative; 
    background: transparent;
    z-index: 1;

    &__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 72px;
        font-family: "Hedvig Letters Serif";
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.66px;

        @media (max-width: 1440px) {
          gap: 3vw;
       }
    }

    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 72px;
      margin: 0;
      padding: 0;

      @media (max-width: 1440px) {
        gap: 3vw;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        top: 79px;
        background: #fff;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;

        &.open {
          opacity: 1;
          visibility: visible;
        }
      }
 
        ul {
           display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            margin: 0;
            padding: 0;

            @media (max-width: 1440px) {
              gap: 3vw;
            }
        }

        li {
          list-style: none;
          a {
            color: #141414;
            font-size: 16px;
            line-height: 1.3;
            white-space: nowrap;
            --tw-duration: .3s;
            transition-duration: .3s;

            &:hover {
              color: #1F514C;
            }
          }
        
      }
    } 

    &__open {
      display: none;
      @media (max-width: 767px) {
        display: flex;

        &.hidden {
        display: none;
      }
      }

      
      
    }

    &__close {
       display: none;

       &.visible {
        display: flex;
       }
    }
  }

