footer {
    display: flex;
    align-items: center;
    justify-content: stretch;
    padding: 54px 0 24px;
    background: #fff;



    .footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

         @media (max-width: 767px) {
            flex-direction: column;
            gap: 48px;
         }

        &__info {
             display: flex;
             flex-direction: column;
             gap: 24px;

             @media (max-width: 767px) {
                order: 1;
             }
        }

        &__link {
            font-size: 18px;
            color: #636363; 

            &:hover {
                 color: #141414;
            }
        
            
            &:first-of-type {
                margin-bottom: 50px;

                @media (max-width: 767px) {
                    margin-bottom: 20px;
                }
            }
        }

        &__logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 72px;
            font-family: "Hedvig Letters Serif";
            font-size: 22px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: -0.66px;
        }

        &__nav {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            max-width: 60%;
            width: 380px;

            @media (max-width: 767px) {
                order: 0;
                max-width: 100%;
                width: 100%;
             }


            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0;
                padding: 0;
                list-style: none;
                max-width: 90px;

                a {
                    opacity: 0.5;
                    

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

       
    }
}